<!DOCTYPE html>
<html>

<head>
{% load static %}
  <meta charset="UTF-8">

  <title>NBM - Login </title>

  <link rel="stylesheet" href="{% static 'login/css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" media="screen" type="text/css" />

</head>

<body>

  <div class="wrap">
		<!--<div class="avatar">
      <img src="http://cdn.ialireza.me/avatar.png">
		</div>-->
		{% block content %}{% endblock %}
	</div>

  <!--<script src="{% static 'js/index.js' %}"></script> -->

</body>

</html>