<!DOCTYPE>
<html>
<head></head>
<script language="javascript">


function download(filename, text) {
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}
</script>

<body onLoad="WriteToFile()">
<textarea id="text-val" rows="4" name = 'contentss'>This is the content of my file</textarea><br/>
<input type="button" id="dwn-btn" value="Download" onclick='download("hello.txt","contentss")'/>
</body>

</html>






